<div class="app-header">
  <div class="d-flex text-white">
    <div class="p-3">
      <a routerLink="/blanket" routerLinkActive="active">Blanket</a>
    </div>
    <div class="p-3" routerLinkActive="active">
      <a routerLink="/app-routes">Routing</a>
    </div>
    <div class="p-3" routerLinkActive="active">
      <a routerLink="/app-forms">Forms</a>
    </div>
    <div class="p-3" routerLinkActive="active">
      <a routerLink="/app-animations">Animations</a>
    </div>
    <div class="p-3" routerLinkActive="active">
      <a routerLink="/app-subjects">Subjects</a>
    </div>
    <div class="p-3" routerLinkActive="active">
      <a routerLink="/app-ngrx">NGRX</a>
    </div>  
  </div>
</div>
