<h2>Simple form</h2>

<div class="d-flex flex-column mx-4 my-2 py-2">
  <div>
    Reactive Forms Way
  </div>
  <div>
    <mat-form-field class="w-100">
      <mat-label>Favorite Color</mat-label>
      <input matInput placeholder="fav color" [formControl]="favColor">
    </mat-form-field>
  </div>
  <div>
    <p>Fav Color is: {{favColor.value}}</p>
  </div>
</div>

<div class="d-flex flex-column mx-4 my-2 py-2">
  <div>
    Template Forms Way
  </div>
  <div>
    <mat-form-field class="w-100">
      <mat-label>Favorite Food</mat-label>
      <input matInput placeholder="fav color" [(ngModel)]="favFood" (ngModelChange)="favFoodUpdate()">
    </mat-form-field>
  </div>
  <div>
    <p>Fav Food is: {{favFood}}</p>
  </div>
</div>

<div class="m-3 p-3 border rounder">
  My Form Value: {{myForm.value | json}}
</div>

<div class="d-flex justify-content-center m-3 p-3">
  <form [formGroup]="myForm">
    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input matInput placeholder="test@email.com" formControlName="email">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Message</mat-label>
      <textarea matInput placeholder="message" formControlName="message"></textarea>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="phone" formControlName="phone">
    </mat-form-field>

  </form>
</div>
