<h2>Nested form</h2>
<div class="d-flex justify-content-center m-3 p-3">
  <form [formGroup]="myNestedForm">
    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input matInput placeholder="test@email.com" formControlName="email">
    </mat-form-field>

    <h4>Cell Phone:</h4>

    <div formGroupName="cellPhone">
      <mat-form-field class="w-100">
        <mat-label>Area</mat-label>
        <input matInput placeholder="test@email.com" formControlName="area">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Prefix</mat-label>
        <input matInput placeholder="test@email.com" formControlName="prefix">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Line</mat-label>
        <input matInput placeholder="test@email.com" formControlName="line">
      </mat-form-field>
    </div>

    <h4>Home Phone:</h4>

    <div formGroupName="homePhone">
      <mat-form-field class="w-100">
        <mat-label>Area</mat-label>
        <input matInput placeholder="test@email.com" formControlName="area">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Prefix</mat-label>
        <input matInput placeholder="test@email.com" formControlName="prefix">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Line</mat-label>
        <input matInput placeholder="test@email.com" formControlName="line">
      </mat-form-field>
    </div>

  </form>
</div>

<div class="m-3 p-3 border rounder">
  My Nested Form Value: {{myNestedForm.value | json}}
</div>
