<div class="app-header">
  <div class="d-flex text-white">
    <div class="p-3">
      <a routerLink="/blanket" routerLinkActive="active">Ng Blanket</a>
    </div>
    <div class="p-3" routerLinkActive="active">
      <a routerLink="/app-pipes">Pipes</a>
    </div>
    <div class="p-3" routerLinkActive="active">
      <a routerLink="/app-directives">Directives</a>
    </div>
    <div class="p-3" routerLinkActive="active">
      <a routerLink="/app-forms">Forms</a>
    </div>
    <div class="p-3" routerLinkActive="active">
      <a routerLink="/app-animations">Animations</a>
    </div>
    <div class="p-3" routerLinkActive="active">
      <a routerLink="/app-subjects">Subjects</a>
    </div>
  </div>
</div>
