.app-header {
  background-color: #06577c;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
